* {
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
}
.wrapper {
	background-color: #800000;
}
.box {
	width: 25vw;
	height: 50vh;
	padding: 25px;
}
.bill-container {
	background-color: #fff;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 12px 14px -12px black;
}
.btn {
	margin-top: 20px;
}